{% extends "base.html" %}
{% block base %}
    <div class="inicio">
        <div class="inicio-title">
            <img src="/static/assets/shulker.gif">
            <p>Bem-vindo</p>
            <img src="/static/assets/shulker.gif">
        </div>
        <div class="dirt">
            <div class="dirt-text">
                <p>
                    Entre em nosso servidor, e construa seu império!
                    Jogue à sua própria maneira, onde limitações não existem.
                </p>
                <div class="list-p">
                    <p>
                        1. Em seu Minecraft, vá até <span style="color:#FDE400;">Multijogador,
                            ou Multiplayer</span>, e <span style="color:#FDE400;">Adicionar Servidor</span>.
                    </p>
                    <p>
                        2. Digite <span style="color:#FDE400;">jogar.valorknight.com.br</span> no Endereço do servidor,
                        e então clique em Concluído.
                    </p>
                </div>
                <p style="color:#A3A3A3;">Endereço do Servidor</p>
                <div class="ipbox">jogar.valorknight.com.br</div>
                <div class="button-div">
                    <button class="ipbutton">Concluído</button>
                </div>
            </div>
            <div class="dirt-video">
                <iframe width="434" height="434" src="https://www.youtube.com/embed/ok99ybgvlsU?si=HbGJb7IGRQs5whxb" title="FINALMENTE SAIU! O SERVIDOR QUE VAI MUDAR O FULL PVP" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
